body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    overflow: scroll;

    background: linear-gradient(rgba(0, 255, 0, 1) 0%, rgba(0, 0, 255, 1) 100%);
    background-repeat: no-repeat;

    --imprint-height: 2em;
}

#content {
    width: 100vw;
}

#content .hero {
    width: 100%;
    display: flex;
    justify-content: center;

    img {
        height: 30vh;
        width: 30vh;
    }

    h1 {
        text-align: center;
    }
}

#content .info {

    /* Desktop */
    @media screen and (min-width: 1000px) {
        --w: 50%;
    }

    /* Mobile */
    @media screen and (max-width: 1000px) {
        --w: 90%;
    }

    --p: 2em;
    width: calc(var(--w) - 2 * var(--p));
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;

    background-color: white;
    padding-right: var(--p);
    padding-left: var(--p);
    padding-top: var(--p);
    padding-bottom: var(--p);
    border-radius: 2em;

    color: black;

    p {}
}

#imprint {
    padding: 0.5em;

    a {
        font-size: 1em;
        text-decoration: underline;
        color: white;
    }
}
