{% extends "base.html" %}

{% block body %}

<div id="content">
    <!-- <div class="hero"> -->
    <!--     <div class="title"> -->
    <!--         <a href="/"> -->
    <!--             <img src="img/logo.png" alt="MapMoji Logo" /> -->
    <!--         </a> -->
    <!--         <h1> MapMoji </h1> -->
    <!--     </div> -->
    <!-- </div> -->
    <div class="hero">
        <div class="title">
            <a href="/" id="logo">🗺️</a>
            <!-- <img src="img/logo.png" alt="MapMoji Logo" /> -->
            <h1> MapMoji </h1>
        </div>
    </div>

    <div class="info">
        <ul>
            <li> 👤 Vincent C. Mader & Leonard B. R. Wagner </li>
            <li> ✉️ mapmoji@gmail.com </li>
            <li> 📞 +49 176 5655 2499 </li>
        </ul>
    </div>
</div>

{% endblock body %}
