{% extends "base.html" %}

{% block body %}

<div id="content">
    <div class="hero">
        <div class="title">
            <a href="/">
                <img src="img/logo.png" alt="BarWürfeln Logo" />
            </a>
            <h1> BarWürfeln </h1>
        </div>
    </div>

    <div class="info">
        <ul>
            <li> 👤 Vincent C. Mader & Leonard B. R. Wagner </li>
            <li> 🏡 Heekweg 14, 48161 Münster, DE </li>
            <li> ✉️ barwuerfeln@gmail.com </li>
            <li> 📞 +49 176 5655 2499 </li>
        </ul>
    </div>
</div>

{% endblock body %}
