{% extends "base.html" %}

{% block body %}
<script src="js/script.js"></script>

<div id="content">
    <div class="hero">
        <div class="title">
            <img src="img/logo.png" alt="BarWürfeln Logo" />
            <h1> BarWürfeln </h1>
        </div>
    </div>

    <div class="info">
        <h2>
            Funktionen:
        </h2>
        <ul>
            <li>

                <p>
                    Würfle deine nächste Bar: Lass den Zufall entscheiden, welche Bar du als nächstes besuchst.
                    BarWürfeln macht dein Ausgeherlebnis aufregender und überraschender.
                </p>
            </li>
            <li>
                <p>
                    Ideal für Kneipentouren: Plane eine Kneipentour und würfle, um mehrere neue Orte an einem Abend zu
                    entdecken. Nie wieder dieselben Routinen!
                </p>
            </li>
            <li>
                <p>
                    Einfache Bedienung: Ein einfacher Wurf entscheidet, wohin es geht.
                    <br />
                    Keine Entscheidungsqualen mehr – BarWürfeln übernimmt für dich! Ihr müsst nur noch die neue Bar
                    ausprobieren
                </p>
            </li>
            <li>
                <p>
                    Club, Café und Restaurant: BarWürfeln
                </p>
            </li>
        </ul>
        <h2>
            Warum BarWürfeln:
        </h2>
        <ul>
            <li>
                <p>
                    Abwechslung: Entfliehe der Routine und entdecke ständig neue Bars.
                </p>
            </li>
            <li>
                <p>
                    Spontaneität: Lass den Zufall entscheiden und erlebe spontane Abenteuer.
                </p>
            </li>
            <li>
                <p>
                    Kneipentouren leicht gemacht: Plane eine Kneipentour und lass BarWürfeln für dich entscheiden, wohin
                    es
                    geht.
                </p>
            </li>
        </ul>
        <br />
        <h4>
            Lade BarWürfeln jetzt herunter und lass den Würfel über dein nächstes Abenteuer entscheiden!
            Entdecke neue Bars und erlebe die Stadt wie nie zuvor.
        </h4>
    </div>

</div>

<div id="footer">
    <a href="imprint">Impressum</a>
</div>
{% endblock body %}
