{% extends "base.html" %}

{% block body %}
<script src="js/script.js"></script>

<div id="content">

    <div class="hero">
        <div class="title">
            <a href="/" id="logo">🗺️</a>
            <!-- <img src="img/logo.png" alt="MapMoji Logo" /> -->
            <h1> MapMoji </h1>
        </div>
    </div>

    <div class="info">

        <h3> Gestalte die Welt mit Emojis! </h3>
        <ul>
            <li> Diese App lässt Dich Emojis auf einer interaktiven Weltkarte setzen. </li>
            <li> Zusammen mit Nutzern auf der ganzen Welt kannst Du die Karte verschönern! </li>
        </ul>

        <h3> Funktionen: </h3>
        <ul>
            <li> Interaktive Weltkarte: Zoome und entdecke Orte, die Du mit Emojis verschönern kannst. </li>
            <li> Unzählige Emojis: Von Smileys über Tiere bis hin zu Flugzeugen – Deiner Kreativität sind keine Grenzen gesetzt. </li>
        </ul>

        <h3> So geht's: </h3>
        <ol>
            <li> Emojis platzieren: Wähle ein Emoji und platziere es an Deinem aktuellen Standort auf der Karte. </li>
            <li> Kreationen teilen: Zeige Deine bunte Welt und entdecke die Beiträge anderer Nutzer. </li>
        </ol>

        <h3> Warum MapMoji? </h3>
        <ul>
            <li>MapMoji verbindet Spaß mit Kreativität und geografischem Lernen.</li>
            <li>Verschönere die Welt so, wie Du es willst, und entdecke gleichzeitig neue Orte.</li>
            <li>Hol dir die App und starte Deine kreative Weltreise noch heute!</li>
        </ul>
        <br />

        <p class="bold center no-bottom-margin"> MapMoji – die Welt gehört dir! </p>
    </div>

</div>

<div id="footer">
    <a href="imprint">Impressum</a>
</div>
{% endblock body %}
